.feed-banner {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
    background-color: rgb(235, 160, 042);
    color: antiquewhite;
}
.main{
    display: flex;
    flex-direction: row;
}

.login-box{
    position: relative;
    left: 20px;
    background:white;
    padding: 24px;
    border-radius: 0 16px 16px 0;
}

.account{
    margin: 20px auto;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    width: calc(100% - 50px);
    max-width: 800px;
}


.board{
    flex:3;
    background-color: white;
    padding: 60px;
    border-radius: 0 16px 16px 0;
}


.aside{
    flex:1;
    background:white;
    padding: 24px;
    border-radius: 0 16px 16px 0;
}


.feed-list {
    padding: 25px 10px;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: auto;
}

.feed-item {
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}


.post-add-button {
    margin-top: 20px;
    padding: 10px;
    border-top: solid 1px rgba(0,0,0,0.1);
}

.post-add-button:hover {
    cursor: pointer;
    font-weight: 700;
}

.delete-item {
    position: absolute;
    right: 15px;
    top: 12px;
    color: red;
    font-size: 18px;
}

.delete-item:hover {
    font-weight: bold;
    cursor: pointer;
}
.reserved-table {
    background-color: beige;
    padding: 25px 10px;

    width: calc(100% - 20px);
    max-width: 800px;
    margin: auto;
}
